@using System;
@using System.Data;
@using System.Configuration;
@using System.Data.SqlClient;
@using WebMatrix.Data;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var db = Database.Open("gen-provider-dbConnectionString");
    var scapedNum = db.QueryValue("select count(*) from Main_Database_For_Directory where ApprovedForDirectory='" + false + "'");
    var editedNum = db.QueryValue("select count(*) from Main_Database_For_Directory where EditedOrg='" + true + "'");
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Page</title>
</head>
<body>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">


    <script src="~/js/mdb.js"></script>
    <script src="~/js/mdb.min.js"></script>
    <script src="~/js/popper.min.js"></script>

    <div class="jumbotron">
        <h2>Admin Page</h2>
        <p class="lead">Approve/Delete Data</p>
    </div>

    <canvas id="barChart" style="max-width: 600px;"></canvas>
    <br />
    
        <a href="@Href("~/Admin/Admin")" class="btn btn-default" style="padding-left: 2px; padding-right: 2px; padding-top: 20px; padding-bottom: 20px; width: 250px; font-size: 15px; margin-left: 50px;"><span class="glyphicon glyphicon-th-large" style="font-size: 15px;"></span> Scraped Data</a>
        
        <a href="@Href("~/EditAdmin/EditAdmin")" class="btn btn-default" style="padding-left: 2px; padding-right: 2px; padding-top: 20px; padding-bottom: 20px; width: 250px; font-size: 15px;"><span class="glyphicon glyphicon-th-large" style="font-size: 15px;"></span> Edited Data</a>
    


</body>

</html>
<script>



    $(document).ready(function () {


        var chart = document.getElementById("barChart").getContext('2d');
        var myBarChart = new Chart(chart, {
            type: 'bar',
            data: {
                labels: ['Web Scraped Data', 'User Edited Data'],
                datasets: [{
                    label: 'Data Waiting to be Added',
                    data: [@scapedNum, @editedNum, 0],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.1)',
                        'rgba(255, 206, 86, 0.1)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxis: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


    });

</script>

