@{
    ViewBag.Title = "GEN Provider Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Find Service Providers</h1>
	<p class="lead" style="color: #b92c28">FIND EVERY VICTIM. STOP EVERY TRAFFICKER.</p>
	<p class="lead">Global Emancipation Network</p>
    <p><a href="http://www.globalemancipation.ngo/" class="btn btn-danger btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card" style="border: 2px solid gray; padding: 6px; min-height: 175px">
      <div class="card-block">
        <h4 class="card-title">Visualization</h4>
		<hr style=" border-top: 2px solid darkgray; margin-top:0px" />
        <p class="card-text">View a map of all known providers and their contact information.</p>
        <a href="@Url.Action("Map", "Map")" class="btn btn-primary" style="padding-bottom: 5px; bottom: 6px; position: absolute">View Map</a>              
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="border: 2px solid gray; padding: 6px; min-height: 175px">
      <div class="card-block">
        <h4 class="card-title">Search</h4>
		<hr style="margin-top:0px; border-top: 2px solid darkgray" />
        <p class="card-text">View a list of all known providers and their contact information. </p>
        <a href="@Url.Action("List", "List")" class="btn btn-primary" style="padding-bottom: 5px; bottom: 6px; position: absolute">View List</a>              
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="border: 2px solid gray; padding: 6px; min-height: 175px">
      <div class="card-block">
        <h4 class="card-title">Add Providers</h4>
		<hr style="margin-top:0px; border-top: 2px solid darkgray" />
        <p class="card-text">Manually create an existing provider's contact information.</p>
      </div>
	  <div class="card-footer">
		<a href="@Url.Action("Add", "Add")" class="btn btn-primary" style="padding-bottom: 5px; bottom: 6px; position: absolute">Add</a>              
      </div>
    </div>
  </div>
</div>




