@{
    ViewBag.Title = "GEN Provider Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Map</h2>
    <p class="lead">World map of all known providers.</p>

</div>

<img src="http://maps-api-presentations.appspot.com/io2012-spatial/airports-size2.png" style="width: 100%; height:100%">


